<div class="home-body">

    <section class="home-wrapper">

        <h1 class="home-header">Petition</h1>
        {{!-- <a href="/signers" class="total-supporters">Total Supporters</a> --}}
        <h2 class="the-story">The Story Behind This...</h2>

        <section class="text-section">
            <p class="purpose">
            This petition is to support an ambitious and hard working woman who is trying to find a spot in this world where she 
            can leave her unique fingure print. <br>
            Dalia Abu-Soud, is a 35 years old finance expert who moved to Berlin from Jordan in 2017.
            Due to language barrier, it was hard for Dalia to get a job in finance in Berlin. She then took 
            the decision of a career shift to web development and enrolled in 2020 to one of the best coding 
            schools in Berlin. Due to the lack of previous tech knowlage and experience, Dalia had to spent 
            hours and hours of hard work to be able to graduate and become a good web developer.<br>
            After spending 4 weeks at this school, Dalia was infomred that the school won't be able give her a 
            graduation certificate as she was accused of commiting frogery in copying code from an online open 
            sourse to soleve one of the daily excersises. The truth was that Dalia was trying to code along with 
            one of the Youtube coding videos for the purpose of understanding, self-studying and practicing.
            <p class="conclusion">Support all Women & Men who are, at least, trying...</p>
            </p>
    </section>

    
    <section class="registration-section">
        <p class="sign-this">Sign this Petition if you think Dalia should be given a certificate!</p>
        <form class="input-fields">
            <label>First Name</label>
            <input type="text" name="first-name" class="userInput" required>
            <label>Last Name</label>
            <input type="text" name="lats-name" class="userInput" required>
            <label>City</label>
            <input type="text" name="city" class="userInput" required >
            <label>Country</label>
            <input type="text" name="country" class="userInput" required>
            
            <label class="signature-text">Signature</label>

            <div class="canvas-wrapper">
                <canvas class="sig-canvas">
                    <input type="image" name="sigImage" class="signatureUrl" required>
                </canvas>
                <canvas class="empty-canvas"></canvas>
            </div>
            <div class="errorMsg">
                Please Sign Here!
            </div>

            <div class="buttons">    
                <button type="submit" class="submit-button">Submit</button>
                <button type="clear-sig" class="clear-sig">Clear Signature</button>
            </div> 
        </form>
    </section>


    <footer><p class="footer-text">© 2020  Dalia Abu-Soud</p></footer>  
    </section> 
</div>

<script>
    userInputData();
    eSignature();

</script>
