<div class="logInBody">

    <section class="logInWrapper" >
        
        <div class="login-menu-line">
            <a  href="signup" class="login-home-button">
                <img src="/assets/home-btn.png" alt="home-button-image">
            </a>
        </div>



        <section class="logInSection">
        <h2>Please log in here</h2>
        <form class="logIn-input-fields">

            <label>Email</label>
            <input type="email" name="email" class="logIn-UserInput"  required>
            <label>Password</label>
            <input type="password" name="email" class="logIn-UserInput" required>
            <p class="error-message incorrectPass"> Your Password Is Incorrect</p>
            
            <button type="submit" class="logInBtn">Log In</button>

        </form>    
        </section>
        <footer><p class="footer-text">© 2020  Dalia Abu-Soud</p></footer>  
    
    </section>

</div>
    <script>
        logInUserInput()
    </script>


