<div class="signup-body">

    <section class="signup-wrapper">

        <h1 class="signup-header">Petition</h1>
        <p class="purpose">This petition is to support a hard working woman who is trying not to give up!</p>
    <section class="registration-section">
        <form class="signUp-input-fields">
            <div class="inputs">
                <label>First Name</label>
                <input type="text" name="first-name" class="signUp-UserInput" required>
                <label>Last Name</label>
                <input type="text" name="lats-name" class="signUp-UserInput" required>
                <label>Email</label>
                <input type="email" name="email" class="signUp-UserInput"  required>
                <label>Password</label>
                <input type="password" name="email" class="signUp-UserInput" required>
            </div>
            <div class="signUpWrapper">
                <button type="submit" class="signUp">Sign Up</button>
                <p class="or">__________________<em> Or </em>__________________</p>
                <label class="emailExsists"> This Email is Already Registered<br>Please Login Instead!</label>
                <section class="orlogInSection">
                    <a class="logInLink" href="/logIn">Log In</a>
                    <p class="alreadyAMember">If you are already a member</p>
                </section>
            </div>        
        </form>

    </section>
    </section> 
    <footer><p class="footer-text">© 2020  Dalia Abu-Soud</p></footer>  
</div>

<script>
    signUpUserInput();    
</script>
