<div class="thanks-body">

    <section class="thanks-wrapper">

        <div class="thanks-menu-line">
            <a href="petition" class="thanks-home-button">
                <img src="/assets/home-btn.png" alt="home-button-image"></a>
            <div class="thanks-menuLinks">
                <a href="/logout">Logout</a>


            </div>
        </div>

        <section class="thanks-section">
            <section class="successfully-signed">
                <p class="successfully-signed">You have successfuly signed this petition</p>
                <img src="{{signatureUrl}}" alt="SignaturePic" class="thanks-userSigPic">
            </section>

            <section class="signers">
                <p class="thanks-msg">Thank you for being a part in Dalia's journey!</p><br>
            {{!-- <p class="num-of-signers"> <strong>{{usersCount}}</strong> supporters have signed this petition </p><br> --}}
                <p class="tellUs"> <a href="/userProfile">Now, tell us please a bit more about yourself...</a></p><br><br>
            </section>
        </section>



        <footer class="thanksFooter">
            <p class="footer-text">© 2020 Dalia Abu-Soud</p>
        </footer>
    </section>


</div>