/****************************************************SignUp*****************************************************/
body {
    margin: 0;
}
.signup-body {
    background-image: url(./assets/climb1.jpg);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-wrapper {
    grid-area: 1/1/2/2;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 25px;
    margin: 30px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgb(255, 255, 245);
}

p {
    margin: 0;
}

.signup-header {
    font-size: 52px;
    padding: 20px;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: 0;
}

.purpose {
    margin: 0;
    font-size: 26px;
    font-style: italic;
    align-self: center;
    text-align: center;
    padding: 0 10px;
}

.registration-section {
    padding: 30px;
}
.inputs {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
}
.inputs label {
    padding: 10px;
}
.signUp-input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp-UserInput {
    height: 30px;
    background-color: transparent;
    padding: 3px 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: none;
    border-bottom: 1px solid white;
    margin: 10px 0;
}

.signUpWrapper {
    text-align: center;
}

.signUp {
    height: 40px;
    width: 150px;
    background-color: rgba(26, 27, 27, 0.3);
    font-size: 18px;
    color: rgb(181, 192, 192);
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 30px;
    align-items: center;
    justify-self: center;
    border-radius: 10px;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
}
.signUp:hover {
    background-color: rgba(28, 88, 73, 0.452);

    color: white;
}

.or {
    text-align: center;
    display: block;
    grid-row-start: 2;
    grid-row-end: 3;
}

.or.off {
    display: none;
    background-color: red;
}

.emailExsists {
    font-size: 18px;
    color: #ff5e53;
    font-style: italic;
    height: 45px;
    line-height: 1.5;
    display: none;
}

.emailExsists.on {
    display: flex;
}

.orlogInSection {
    text-align: center;
    line-height: 1.5;
    margin-top: 15px;
    grid-row-start: 3;
    grid-row-end: 4;
}
.logInLink {
    font-size: 26px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgb(255, 255, 245);
}
.alreadyAMember {
    display: block;
}
.alreadyAMember.off {
    display: none;
}

footer {
    grid-area: 2/ 1 / 3/ 3;
    background: rgba(20, 20, 20, 0.294);
    font-size: 13px;
    color: rgba(39, 39, 39, 0.63);
    margin: 0;
    padding: 3px 0 3px 0;
    display: flex;
    align-items: center;
}
.footer-text {
    margin-left: 10px;
    color: black;
}

/****************************************************Log-In*****************************************************/
.logInBody {
    background-image: url(./assets/login2.jpg);
    background-size: cover;
}

.logInWrapper {
    background-color: rgb(0, 0, 0, 0.39);
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgb(255, 255, 245);
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 0;
    padding-bottom: 30px;
    text-align: center;
}

.logIn-input-fields {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto;
    color: white;
}
.logIn-input-fields a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-style: italic;
    grid-area: 5 / 1 / 6 / 3;
    justify-self: center;
    margin-top: 20px;
}

label {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 18px;
    align-self: flex-end;
}
.logIn-UserInput {
    height: 30px;
    background-color: transparent;
    padding: 0 10px;
    font-size: 16px;
    color: rgb(39, 38, 38);
    border: none;
    border-bottom: 1px solid white;
    margin: 10px 25px 0 30px;
}

.incorrectPass {
    font-size: 18px;
    font-style: italic;
    align-items: center;
    justify-content: center;
    display: none;
    grid-area: 3/1/4/3;
    padding-top: 13px;
    color: rgb(109, 1, 1);
}

.incorrectPass.on {
    display: flex;
}

.successMsg {
    font-size: 18px;
    color: white;
    background-color: darkolivegreen;
    font-style: italic;
    align-items: center;
    justify-content: center;
    display: none;
    grid-area: 3/2/4/3;
    margin: 10px 25px 0 30px;
    padding: 4px 10px;
}

.successMsg.on {
    display: flex;
}

.logInBtn {
    height: 40px;
    width: 150px;
    background-color: rgba(48, 132, 132, 0.109);
    font-size: 18px;
    color: rgb(10, 74, 69);
    text-decoration: none;
    margin: 50px auto 0 auto;
    align-items: center;
    grid-area: 4 / 1 / 5 / 3;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
}
.logInBtn:hover {
    background-color: rgba(28, 88, 73, 0.452);
    color: white;
}

/**************************************************** Petition *****************************************************/
.petition-body {
    background-image: url(./assets/woman-in-white-long-sleeve-shirt-and-blue-denim-jeans-while-3792010.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.petition-wrapper {
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgb(255, 255, 245);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content auto max-content;
}

p {
    margin: 0;
}
.petition-menu-line {
    background-color: rgba(0, 0, 0, 0.205);
    grid-area: 1/1/2/4;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.petition-home-button {
    background-color: transparent;
    border-color: transparent;
}

.petition-home-button img {
    height: 30px;
    width: 30px;
}
.petition-menuLinks {
    display: flex;
    flex-direction: row-reverse;
}

.petition-menuLinks a {
    font-size: 18px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-decoration: none;
    padding: 0 10px;
}
.text-section {
    padding: 20px;
    grid-area: 2 / 1 / 3/ 2;
    line-height: 1.5;
    text-align: justify;
    color: white;
}

.The-Story {
    font-size: 32px;
}

.signature-section {
    grid-area: 2 /3 /3 / 4;
    color: rgb(61, 61, 61);
    padding: 15px;
    border-radius: 25px;
    align-self: center;
}
.hello-name {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: white;
    display: block;
}
.hello-name-responsive {
    display: none;
}
.sign-this {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: white;
}

.canvas-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0 30px 0;
}
.sig-canvas {
    height: 120px;
    background-color: rgba(255, 255, 255);
    border: 1px solid rgb(54, 54, 54);
    border-radius: 10px;
    font-size: 16px;
    color: rgba(251, 251, 98, 0.596);
    cursor: url("/assets/pen-icon-s.png"), auto;
    align-self: center;
}
.empty-canvas {
    display: none;
}

.errorMsg {
    font-size: 18px;
    color: rgba(255, 81, 81, 0.849);
    font-style: italic;
    padding: 5px 0;
    grid-column: 2 / 3;
    align-items: center;
    justify-content: center;
    height: 30px;
    display: none;
}

.errorMsg.on {
    display: flex;
}

.buttons {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.submit-button {
    height: 40px;
    width: 150px;
    background-color: rgba(27, 86, 72, 0.452);
    grid-column-start: 1;
    font-size: 15px;
    color: white;
    text-decoration: none;
    border: 1px solid darkslategray;
    border-radius: 10px;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
    margin-right: 20px;
}

.submit-button:hover {
    background-color: rgba(0, 150, 136, 0.74);
    color: white;
    transform: scale(1.05);
}

.clear-sig {
    height: 40px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.55);
    grid-column-start: 2;
    font-size: 15px;
    color: rgb(34, 87, 95);
    border: 1px solid darkslategray;
    border-radius: 10px;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
    margin-left: 20px;
}
.clear-sig:hover {
    transform: scale(1.05);
    background-color: white;
}

.alreadySigned {
    border-radius: 25px;
    font-size: 18px;
    padding: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    grid-area: 2 /3 /3 / 4;
    line-height: 2;
    align-self: center;
    justify-self: center;
    text-align: center;
}
.helloUser {
    font-style: italic;
    font-size: 26px;
    margin-bottom: 30px;
    line-height: 1.5;
    grid-area: 2 /2 /3 / 3;
}
.userCount {
    font-size: 22;
    font-style: italic;
}
.seeAllSigners a {
    text-decoration: underline;
    color: white;
    font-size: 22px;
    font-style: italic;
}
.unSign-editProfile a {
    text-decoration: none;
    font-style: italic;
    color: rgb(61, 61, 0);
    font-size: 16px;
    margin-top: 30px;
}
.petitionFooter {
    grid-area: 3/ 1 / 4/ 4;
}

/****************************************************THANK-YOU*****************************************************/

.thanks-body {
    background-image: url(./assets/thanks2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.thanks-wrapper {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr 30px;
    grid-template-columns: 35% 1fr 35%;
}

.thanks-menu-line {
    background-color: rgba(0, 0, 0, 0.205);
    display: grid;
    grid-template-columns: 93% auto;
    grid-area: 1/1/2/4;
    padding: 3px 20px 3px 20px;
}
.thanks-home-button {
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    grid-column-start: 1;
    grid-column-end: 2;
}

.thanks-home-button img {
    height: 30px;
    width: 30px;
    justify-items: right;
}
.thanks-menuLinks {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

.thanks-menuLinks a {
    font-size: 18px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-decoration: none;
}

.thanks-section {
    grid-area: 2/1/3/2;
    font-size: 28px;
    font-style: italic;
    margin-left: 30px;
    align-self: center;
    justify-self: center;
    text-align: center;
    line-height: 1.5;
}

.userSigPic {
    background-color: rgba(211, 210, 167, 0.342);
    border-radius: 25px;
    padding: 10px;
    height: 80px;
    width: 250px;
    margin-top: 20px;
}

.signers {
    margin: 30px;
    grid-area: 2/3/3/4;
    font-size: 28px;
    align-self: center;
    justify-self: center;
    text-align: center;
    line-height: 1.5;
    color: white;
    font-style: italic;
    text-align: center;
}

.tellUs a {
    margin-top: 20px;
    font-style: italic;
    color: white;
    margin-bottom: 20px;
    font-size: 22px;
}
.thanksFooter {
    grid-area: 3/1/4/4;
}
.footer-text {
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.472);
}

/****************************************************signers*****************************************************/

.signers-body {
    background-image: url(./assets/support7.jpg);
    height: 100vh;
    width: 100%;
    background-blend-mode: screen;
    display: grid;
    grid-template-rows: 40px 15% auto 30px;
    grid-template-columns: 20% 1fr 20%;
    background-repeat: no-repeat;
    background-size: cover;
}
.signers-menu-line {
    background-color: rgba(0, 0, 0, 0.205);
    display: grid;
    grid-template-columns: 90% auto;
    grid-area: 1/1/2/5;
    padding: 3px 20px 3px 20px;
}
.signers-home-button {
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    grid-column-start: 1;
    grid-column-end: 2;
}

.signers-home-button img {
    height: 30px;
    width: 30px;
    justify-items: right;
}
.signers-menuLinks {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

.signers-menuLinks a {
    font-size: 18px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-decoration: none;
}
.supporters-list {
    align-self: center;
    justify-self: center;
    font-size: 42px;
    font-weight: bold;
    font-style: italic;
    color: white;
    grid-area: 2/2/3/3;
}

.signers-wrapper {
    background-color: rgba(37, 37, 37, 0.623);
    border-radius: 25px;
    grid-area: 3/ 2/4/3;
    margin: 0 30px 15px 30px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    overflow-y: scroll;
}

.signersTable {
    grid-row-start: 3;
    grid-row-end: 4;
    color: white;
}

.signersTable a {
    font-size: 18px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-decoration: underlined;
    font-style: italic;
}
.li {
    line-height: 2;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1% 25% 15% 15% 15% 29%;
    color: white;
}

.name {
    grid-column-start: 2;
    grid-column-end: 3;
}

.city {
    grid-column-start: 3;
    grid-column-end: 4;
}
.country {
    grid-column-start: 4;
    grid-column-end: 5;
}
.age {
    grid-column-start: 5;
    grid-column-end: 6;
}
.dateAndTime {
    grid-column-start: 6;
    grid-column-end: 7;
    text-align: end;
}
.signersFooter {
    grid-area: 4/1/5/4s;
}

/**************************************************** ByCity  *****************************************************/

.bycity-body {
    background-image: url(./assets/support7.jpg);
    height: 100vh;
    width: 100%;
    background-blend-mode: screen;
    display: grid;
    grid-template-rows: 40px 15% auto 30px;
    grid-template-columns: 20% 1fr 20%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bycity-menu-line {
    background-color: rgba(0, 0, 0, 0.205);
    display: grid;
    grid-template-columns: 75% auto;
    grid-area: 1/1/2/5;
    padding: 3px 20px 3px 20px;
}
.bycity-home-button {
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    grid-column-start: 1;
    grid-column-end: 2;
}

.bycity-home-button img {
    height: 30px;
    width: 30px;
    justify-items: right;
}
.bycity-menuLinks {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

.bycity-menuLinks a {
    font-size: 18px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-decoration: none;
}

.bycity-wrapper {
    background-color: rgba(37, 37, 37, 0.623);
    border-radius: 25px;
    grid-area: 3/ 2/4/3;
    margin: 0 30px 15px 30px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    overflow-y: scroll;
}

.bycityTable {
    grid-row-start: 3;
    grid-row-end: 4;
    color: white;
}

.bycityFooter {
    grid-area: 4/1/5/4s;
}

/**************************************************** ByCountry  *****************************************************/

.bycountry-body {
    background-image: url(./assets/support7.jpg);
    height: 100vh;
    width: 100%;
    background-blend-mode: screen;
    display: grid;
    grid-template-rows: 40px 15% auto 30px;
    grid-template-columns: 20% 1fr 20%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bycountry-menu-line {
    background-color: rgba(0, 0, 0, 0.205);
    display: grid;
    grid-template-columns: 75% auto;
    grid-area: 1/1/2/5;
    padding: 3px 20px 3px 20px;
}
.bycountry-home-button {
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    grid-column-start: 1;
    grid-column-end: 2;
}

.bycountry-home-button img {
    height: 30px;
    width: 30px;
    justify-items: right;
}
.bycountry-menuLinks {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

.bycountry-menuLinks a {
    font-size: 18px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-decoration: none;
}
.back {
    font-size: 18px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-decoration: underline;
    font-style: italic;
    grid-area: 2/2/3/3;
    align-self: end;
    margin: 0 0 10px 40px;
}
.bycountry-wrapper {
    background-color: rgba(37, 37, 37, 0.623);
    border-radius: 25px;
    grid-area: 3/ 2/4/3;
    margin: 0 30px 15px 30px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    overflow-y: scroll;
}

.bycountryTable {
    grid-row-start: 3;
    grid-row-end: 4;
    color: white;
}

.bycountryFooter {
    grid-area: 4/1/5/4s;
}

/**************************************************** Users Profile *****************************************************/
.userProfileBody {
    background-image: url(./assets/two-pens-in-middle-of-apple-keyboard-and-eyeglasses-1906440.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.userProfileWrapper {
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: screen;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgb(255, 255, 245);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px auto auto auto 30px;
}
.userProfile-menu-line {
    background-color: rgba(0, 0, 0, 0.205);
    display: grid;
    grid-template-columns: 90% auto;
    grid-area: 1/1/2/2;
    padding: 3px 20px 3px 20px;
}
.userProfile-home-button {
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    grid-column-start: 1;
    grid-column-end: 2;
}

.userProfile-home-button img {
    height: 30px;
    width: 30px;
    justify-items: right;
}
.userProfile-menuLinks {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

.userProfile-menuLinks a {
    font-size: 18px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-decoration: none;
}

.userProfileHeader {
    font-size: 38px;
    align-self: center;
    justify-self: center;
    grid-area: 2/1/3/2;
}

.userProfileSection {
    font-size: 24px;
    align-self: flex-start;
    justify-self: center;
    grid-area: 3/1/4/2;
}

.fillInData {
    font-style: italic;
    margin: 0;
    padding-bottom: 10px;
    align-self: center;
    justify-self: center;
}

.editProfileBtn {
    height: 30px;
    width: 350px;
    font-size: 16px;
    color: rgb(4, 66, 61);
    text-decoration: none;
    margin: 40px 0px 10px 0px;
    align-items: center;
    justify-self: flex-start;
    grid-area: 9 / 2 / 10 / 3;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
    font-weight: bold;
}

.editProfileBtn:hover {
    background-color: rgba(28, 88, 73, 0.452);
    color: white;
}

.userProfile-InputFields {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: auto auto;
}

.userProfile-InputFields label {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 18px;
    align-self: flex-end;
}
.profileUserInput {
    height: 30px;
    background-color: transparent;
    padding: 3px 10px 3px 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid white;
    margin: 10px 25px 0 30px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.profileSubmitBtn {
    height: 40px;
    width: 150px;
    background-color: rgba(183, 184, 184, 0.109);
    font-size: 18px;
    color: rgb(4, 66, 61);
    text-decoration: none;
    margin: 40px 0px 10px 0px;
    align-items: center;
    justify-self: center;
    grid-area: 9 / 1 / 10 / 3;
    border-radius: 10px;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
    font-weight: bold;
}
.profileSubmitBtn:hover {
    background-color: rgba(28, 88, 73, 0.452);
    color: white;
}

.return {
    text-decoration: none;
    color: white;
    font-size: 22px;
    text-decoration: none;
    margin: 10px 25px 0 30px;
    align-self: center;
    justify-self: center;
    grid-area: 10/1/11/3;
    cursor: pointer;
    text-decoration: underline;
}
.unsign {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin: 10px 25px 0 30px;
    align-self: center;
    justify-self: center;
    grid-area: 11/1/12/3;
    cursor: pointer;
}

.userProfileFooter {
    grid-area: 5/1/6/2;
}

/**************************************************** UNSIGN PAGE *****************************************************/

.unsign-body {
    background-image: url(./assets/sad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.unsign-wrapper {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 40px auto 30px;
    grid-template-columns: auto;
}

.unsign-menu-line {
    background-color: rgba(0, 0, 0, 0.205);
    display: grid;
    grid-template-columns: 82% auto;
    grid-area: 1/1/2/2;
    padding: 3px 20px 3px 20px;
}
.unsign-home-button {
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    grid-column-start: 1;
    grid-column-end: 2;
}

.unsign-home-button img {
    height: 30px;
    width: 30px;
    justify-items: right;
}
.unsign-menuLinks {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

.unsign-menuLinks a {
    font-size: 18px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-decoration: none;
}

.unsign-section {
    grid-area: 2/1/3/2;
    font-size: 28px;
    font-style: italic;
    margin-left: 50px;
    align-self: center;
    justify-self: start;
    text-align: center;
    line-height: 1.5;
}

.userSigPic {
    background-color: rgba(211, 210, 167, 0.342);
    border-radius: 25px;
    padding: 10px;
    height: 80px;
    width: 250px;
    margin-top: 20px;
}
.unsignQ {
    margin: 30px 0 10px 0;
    font-size: 18px;
}
.unSignBtn {
    display: flex;
    justify-content: space-evenly;
    margin: 0 100px 0 100px;
}

.yes:hover {
    background-color: rgb(128, 0, 0);
    color: white;
}

.yes,
.no {
    color: rgb(5, 100, 100);
    border: 1px solid black;
    border-radius: 4px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    color: rgb(5, 100, 100);
}

.no:hover {
    background-color: darkolivegreen;
    color: white;
}

.unsignFooter {
    grid-area: 3/1/4/2;
}
.footer-text {
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.472);
}

/**************************************************** Responsive *****************************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    /* *********************** Signup Responsive ********************** */

    .signup-body {
        background-position: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        width: fit-content;
    }
    .signup-header {
        font-size: 30px;
        padding: 25px 15px;
    }
    .purpose {
        padding: 10px;
        font-size: 18px;
    }
    .signup-wrapper {
        margin: 10px;
        height: fit-content;
        align-self: center;
    }
    .registration-section {
        padding: 0px;
    }
    .signUp-input-fields {
        padding: 10px;
    }
    .inputs {
        grid-template-columns: max-content auto;
    }
    .input label {
        padding: 10px 10px 10px 0;
        font-size: 15px;
    }
    .signUp {
        width: 120px;
        font-size: 15px;
        margin: 22px;
    }
    .emailExsists,
    .logInLink,
    .alreadyAMember {
        font-size: 15px;
    }

    /* *********************** Petition Responsive ********************** */

    .petition-body {
        background-size: auto;
        background-position: bottom;
        background-color: #575352;
        height: max-content;
        width: fit-content;
    }
    .petition-wrapper {
        min-height: 100vh;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        background-color: rgba(0, 0, 0, 0.32941176470588235);
    }
    .petition-menu-line {
        grid-area: 1/1/2/2;
        background-color: rgb(29, 26, 26);
    }
    .petition-menuLinks a {
        font-size: 15px;
    }
    .hello-name {
        display: none;
    }
    .hello-name-responsive {
        grid-area: 2/1/3/2;
        display: block;
        font-size: 20px;
        font-style: italic;
    }
    .text-section {
        grid-area: 3/1/4/2;
    }
    .signature-section {
        grid-area: 4/1/5/2;
    }
    .sign-this {
        font-size: 18px;
    }
    .submit-button {
        border: 1px solid rgb(186, 197, 197);
    }
    .errorMsg {
        text-align: center;
        color: white;
        background-color: rgba(197, 12, 12, 0.54);
        margin: 20px;
    }
    .alreadySigned {
        font-size: 17px;
        grid-area: 2/1/3/2;
    }
    .helloUser {
        font-size: 20px;
    }
    .seeAllSigners a {
        font-size: 17px;
    }
    .petitionFooter {
        grid-area: 5/1/6/2;
    }

    /* *********************** User Profile Responsive ********************** */
    .userProfileBody {
        height: auto;
        min-width: fit-content;
    }
    .userProfileWrapper {
        grid-template-columns: auto;
        grid-template-rows: min-content auto auto auto min-content;
        min-height: 100vh;
    }
    .userProfile-menu-line {
        grid-area: 1/1/2/2;
        padding: 5px;
        grid-template-columns: auto auto;
    }
    .userProfile-home-button {
        align-self: center;
    }
    .userProfile-home-button img {
        height: 25px;
        width: 25px;
        align-self: center;
    }
    .userProfile-menuLinks {
        justify-content: flex-start;
    }
    .userProfile-menuLinks a {
        font-size: 17px;
        padding: 5px;
    }
    .userProfileHeader {
        font-size: 28px;
    }
    .userProfileSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .editProfileBtn {
        background-color: rgba(255, 250, 250, 0.76);
        height: 30px;
        width: 305px;
        margin: 10px;
    }
    .userProfile-InputFields {
        padding: 15px;
    }
    .profileSubmitBtn {
        height: 34px;
        width: 120px;
        background-color: rgba(255, 255, 255, 0.35);
        font-size: 16px;
        margin: 10px;
        border: 2px solid white;
    }
    .return {
        font-size: 19px;
        padding: 10px;
    }
    .userProfileFooter {
        padding: 5px;
    }
    .footer-text {
        margin: 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* *********************** Signup Responsive ********************** */
    .signup-body {
        grid-template-columns: auto;
        grid-template-rows: 1fr auto;
        background-position: bottom;
    }

    .signup-wrapper {
        height: fit-content;
        justify-self: center;
        align-self: center;
    }
    .purpose {
        padding: 0 40px;
    }
    footer {
        grid-area: 2/ 1 / 3/ 2;
    }

    /* *********************** Login Responsive ********************** */

    .logInBody {
        background-position: center;
    }

    /* *********************** Petition Responsive ********************** */

    .petition-body {
        background-size: cover;
        background-position: bottom;
        background-color: #575352;
        height: auto;
        width: fit-content;
    }
    .petition-wrapper {
        /* height: auto; */
        grid-template-columns: auto;
        grid-template-rows: auto auto 1fr 1fr auto;
        background-color: rgba(0, 0, 0, 0.32941176470588235);
    }
    .petition-menu-line {
        grid-area: 1/1/2/2;
        background-color: rgb(29, 26, 26);
    }
    .petition-home-button img {
        height: 36px;
        width: 36px;
    }
    .petition-menuLinks a {
        font-size: 24px;
    }
    .alreadySigned {
        font-size: 30px;
        grid-area: 2/1/3/2;
    }
    .helloUser {
        font-size: 34px;
    }
    .seeAllSigners a {
        font-size: 28px;
    }
    .text-section {
        grid-area: 3/1/4/2;
    }
    .the-text {
        font-size: 22px;
    }
    .signature-section {
        grid-area: 4/1/5/2;
        /* align-self: flex-start; */
    }
    .sign-this {
        font-size: 26px;
    }
    .hello-name {
        display: none;
    }
    .hello-name-responsive {
        display: block;
        font-size: 30px;
        font-style: italic;
    }
    .submit-button {
        border: 1px solid rgb(186, 197, 197);
        font-size: 24px;
        width: 200px;
    }
    .clear-sig {
        font-size: 24px;
        width: 200px;
    }
    .errorMsg {
        text-align: center;
        color: white;
        background-color: rgba(197, 12, 12, 0.54);
        margin: 20px;
    }
    .petitionFooter {
        grid-area: 5/1/6/2;
    }
    .footer-text {
        font-size: 19px;
        margin: 4px;
    }
    /* *********************** User Profile Responsive ********************** */
    .userProfileBody {
        height: auto;
        min-width: fit-content;
    }
    .userProfileWrapper {
        grid-template-columns: auto;
        grid-template-rows: min-content auto auto auto min-content;
        min-height: 100vh;
    }
    .userProfile-menu-line {
        grid-area: 1/1/2/2;
        padding: 10px;
        grid-template-columns: auto auto;
    }
    .userProfile-home-button {
        align-self: center;
    }
    .userProfile-home-button img {
        height: 25px;
        width: 25px;
        align-self: center;
    }
    .userProfile-menuLinks {
        justify-content: flex-start;
    }
    .userProfile-menuLinks a {
        font-size: 24px;
        padding: 5px;
    }
    .userProfileHeader {
        font-size: 38px;
    }
    .userProfileSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .editProfileBtn {
        background-color: rgba(255, 250, 250, 0.76);
        height: 30px;
        width: 305px;
        margin: 10px;
        font-size: 22px;
    }
    .userProfile-InputFields {
        padding: 15px;
    }
    .userProfile-InputFields label {
        font-size: 24px;
    }
    .profileUserInput {
        font-size: 22px;
        padding: 10px;
    }
    .profileSubmitBtn {
        height: 40px;
        width: 140px;
        background-color: rgba(255, 255, 255, 0.35);
        font-size: 26px;
        margin: 40px;
        border: 2px solid white;
    }
    .return {
        font-size: 29px;
        padding: 10px;
    }
    .unsign {
        font-size: 22px;
    }
    .userProfileFooter {
        padding: 10px;
    }
    .footer-text {
        margin: 0;
    }
}
